
/* колір основного тексту #212121 */
/* додатковий колір сірий #757575 */
/* колір лого синій #2196F3 чорний #000000 */
/* акцент і емейл #2196F3 */
/* білий колір */
/* Боді білий #F5F5F5 */
/* Другий колір фона світло сірий #F5F4FA */
/* focus колір #2196F3  */

:root {
    --background-color: #FFFFFF;
    --color-logo-black: #000000;
    --primary-color-text: #212121;
    --accent-color: #2196F3;
    --button-color-active: #188CE8;
    --second-color: #757575;
    --white-color-text: #FFFFFF;
    --backgraund-color-button: #F5F4FA;
    --background-hero: #C4C4C4;
    --background-hero-gradient: rgba(47, 48, 58, 0.4);
    --background-our-team: #F5F4FA;
    --addres-footer: rgba(255, 255, 255, 0.6);
    --border-filter: #EEEEEE;
    --border-header: #ECECEC;
    --color-our-clients: #AFB1B8;
    --gradient-social: rgba(255, 255, 255, 0.1);
    --background-footer: #2F303A;
    --gradient-project: rgba(33, 150, 243, 0.9);
}


header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    z-index: 1;
    border-bottom: 1px solid var(--border-header);
    background-color: var(--white-color-text);
}


/* Боді */

body {
    background-color: var(--background-color);
    color: var(--primary-color-text);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    padding-top: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0px;
    padding: 0px;
    padding-left: 0px;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}



/* Лого */

.logo {
    display: block;
    color: var(--color-logo-black);
    font-family: Raleway, sans-serif;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.main-nav .logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo-blue {
    color: var(--accent-color);
}


/* Сайт nav */


.container.main-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--white-color-text);
    color: var(--primary-color-text);
    
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link:focus,
.site-nav .link:hover {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}


.site-nav .list {
    display: flex;
}

.list.contact {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.contact .link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    background-color: var(--white-color-text);
    color: var(--second-color);

    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact .item + .item {
    margin-left: 50px;
}

.contact .link:focus,
.contact .link:hover {
    color: var(--accent-color);
}

.icon-header {
    margin-right: 10px;
    fill: currentColor;
}


/* index.html */

/* Герой */

.overlay {

}

.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-color: var(--background-hero);
    background-image: linear-gradient(
        to right,
        var(--background-hero-gradient),
        var(--background-hero-gradient)),
        url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}


.hero .main-title {
    margin: auto;
    margin-bottom: 30px;
    max-width: 696px;

    text-transform: uppercase;
    color: var(--white-color-text);

    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

/* Button */

.hero .order {
    background-color: var(--accent-color);
    color: var(--white-color-text);
    border: none;
    font-family: inherit;
    border-radius: 4px;
    border-color: transparent;

    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    padding: 10px 32px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero .order:hover,
.hero .order:focus {
    background-color: var(--button-color-active);
    color: var(--white-color-text);
}

/* Секція feature-list */

.feature-list {
    padding-bottom: 94px;
    padding-top: 94px;
}


.feature-list .feature-title  {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;

    margin-bottom: 10px;
}

.feature-list .text {
    color: var(--second-color);

    font-size: 14px;
    line-height: 1.71;
}

.feature-list .item {
    width: 270px;
}

.feature-list .item::before {
    display: flex;
    content: '';
    min-height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px 70px;
    background-color: var(--background-our-team);

    margin-bottom: 30px;
    border-radius: 4px;
}

.feature-list .icon-antenna::before {
    background-image: url(../images/antenna.svg);
}

.feature-list .icon-clock::before {
    background-image: url(../images/clock.svg);
}

.feature-list .icon-diagram::before {
    background-image: url(../images/diagram.svg);
}

.feature-list .icon-astronaut::before {
    background-image: url(../images/astronaut.svg);
}

.feature-list .list {
    display: flex;
    gap: 30px;
}

/* Секція section-work */

.section-work {
    padding-bottom: 94px;
}

.section-work .list {
    display: flex;
    gap: 30px;
}

/*  h2 для section-work і our-team */


.title {
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
}


/* Секція our-team*/

.our-team  {
    background-color: var(--background-our-team);
    padding-top: 94px;
    padding-bottom: 94px;

}

.our-team .item {
    background-color: var(--background-color);
    display: block;
    text-align: center;
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team .list {
    display: flex;
    gap: 30px;
}


.our-team .team {
    margin-bottom: 10px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
}

.our-team .team-profession {
    color: var(--second-color);
    font-size: 16px;
    line-height: 1.18;

    margin-bottom: 16px;
}

.our-team .content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.link-social {
    display: flex;
    fill: var(--color-our-clients);
    width: 44px;
    height: 44px;
    border-radius: 50%;

    justify-content: center;
    align-items: center;
}

.list-social {
    display: flex;
    fill: var(--color-our-clients);
    justify-content: center;
    gap: 10px;
}


.link-social:hover,
.link-social:focus {

    background-color: var(--accent-color);
    fill: var(--white-color-text);
}


.regular-clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.regular-clients .client {
    display: flex;
    width: 170px;
    height: 92px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    fill: var(--color-our-clients);
    border: 1px solid var(--color-our-clients);
}

.regular-clients .client:hover,
.regular-clients .client:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}


.regular-clients .list {
    display: flex;
    justify-content: space-between;
}

/* Футер */

footer {
    background-color: var(--background-footer);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-bottom .logo {
    margin-bottom: 20px;

    color: var(--white-color-text);
}

.footer-bottom .item + .item {
    margin-top: 9px;
}

.footer-bottom .list {
    margin-right: 70px;
}

.address-company .link {
    color: var(--addres-footer);

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.address-company .map {
    color: var(--white-color-text);
}

.address-company .link:hover,
.address-company .link:focus {
    color: var(--accent-color);
}

.join .title {
    text-transform: uppercase;
    color: var(--white-color-text);
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
}


.footer-bottom {
    display: flex;
    margin-right: auto;
    align-items: baseline;
}

.join {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 206px;
}

.join .social-net {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: var(--white-color-text);
    background-color: var(--gradient-social);
}

.social-net:hover,
.social-net:focus {
    background-color: var(--accent-color);
}





/*  */
/* portfolio.html */
/*  */

.projects .button {
    padding: 6px 22px;

    font-family: inherit;
    color: var(--primary-color-text);
    background-color: var(--backgraund-color-button);
    border-radius: 4px;
    border-color: transparent;
    border: none;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

.projects .button.all {
    padding: 6px 25px;
}

.projects .button:focus,
.projects .button:hover {
    background-color: var(--accent-color);
    color: var(--white-color-text);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}


.projects .name-project {
    color: var(--primary-color-text);

    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-bottom: 4px;
}

.projects {
    padding-top: 94px;
    padding-bottom: 94px;
}

.projects .type-project {
    color: var(--second-color);
    font-size: 16px;
    line-height: 1.87;
}

.projects .filter {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    gap: 8px;
}

.projects .date-project {
    border-left: 1px solid var(--border-filter);
    border-right: 1px solid var(--border-filter);
    border-bottom: 1px solid var(--border-filter);

    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.projects .link:hover,
.projects .link:focus {
    box-shadow: 0px 1px 1px
    rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects .list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.projects .item {
    display: flex;
    flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
}

.projects .thumb {
    position: relative;
}

.projects .text-project {
    position: absolute;
    width: 100%;
    height: 100%;
    color: var(--white-color-text);
    background-color: var(--gradient-project);
    font-size: 18px;
    line-height: 1.55;
    padding: 63px 24px;
    top: 0;
    left: 0;
    opacity: 0;
}

.projects .link:hover .text-project {
    opacity: 1;
}